<h2>{{quizName}} </h2>
<!--<div class="container">
  <div class="row">
<div class="card" style="width: 50rem;" *ngFor="let question of questions">
  <div class="card-body">
    <h5 class="card-title">{{question.title}}</h5>
    <p class="card-text" *ngFor="let option of question.choices">{{option.text}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
  </div>
</div>
-->

<div class="container">
  <div class="row">
    
<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title"> Q{{quesNumber}} {{currentQuestion.title}}</h5>
    <p class="card-text" *ngFor="let option of currentQuestion.choices">
     &nbsp; &nbsp; <input class="form-check-input" type="radio" name="exampleRadios">
  <label class="form-check-label" for="exampleRadios1">
    {{option.text}}
  </label>
      
      </p>
    <button type="button" *ngIf="!isFirst" class="btn btn-primary" (click)="getPreviousQuestion()">Previous Question</button>
    &nbsp; &nbsp; &nbsp;
    <button type="button" *ngIf="!isLast" class="btn btn-primary" (click)="getNextQuestion()">Next Question</button>
    <button type="button" *ngIf="isLast" class="btn btn-primary">Finish Quiz</button>
  </div>
</div>
  </div>
</div>


