<h2>{{quizName}} </h2>
<!--<div class="container">
  <div class="row">
<div class="card" style="width: 50rem;" *ngFor="let question of questions">
  <div class="card-body">
    <h5 class="card-title">{{question.title}}</h5>
    <p class="card-text" *ngFor="let option of question.choices">{{option.text}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
  </div>
</div>
-->

<div class="container">
  <div class="row">
    
<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title"> Q{{quesNumber}} {{currentQuestion.text}}</h5>
    <p class="card-text" *ngFor="let option of currentQuestion.choices; let i=index">
     &nbsp; &nbsp; 
<!--<input class="form-check-input" type="radio" name="exampleRadios">-->

<input id="{{option.id}}" type="radio" (click)="onSelect(option)" />
  <label>
    {{option.text}}
  </label>
      
      </p>
    <button type="button" *ngIf="index > 0" class="btn btn-primary" (click)="getPreviousQuestion()">Previous Question</button>
    &nbsp; &nbsp; &nbsp;
    <button type="button" *ngIf="index < (noOfQues-1)" class="btn btn-primary" (click)="getNextQuestion()">Next Question</button>
    &nbsp; &nbsp; &nbsp;
    <button type="button" class="btn btn-primary">Submit</button>
  </div>
  </div>
</div>
 
</div>


