<!--<h2> This is Jumbotron Component</h2>-->
<!--<my-msg></my-msg>-->
<!--<div class="container">
  <div class="row">
    <div class="col-4">
<app-jumbotron title="Java" summary="it is most popular programming language"></app-jumbotron>
</div>
<div class="col-4">
<app-jumbotron title="Javascript" summary="it is most popular scripting language"></app-jumbotron>
</div>
<div class="col-4">
<app-jumbotron title="HTML" summary="used for structuring of web pages"></app-jumbotron>
</div>
  </div>
</div>-->


<!--<app-jumbotron title="Css" summary="Used for styling purposes"></app-jumbotron>
<app-jumbotron title="C++" summary="it used OOPS concepts"></app-jumbotron>
-->

<!--<div class="container">
  <div class="row">
     <div class="input-group mb-3">
      <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Sentence Case Pipe </span>
    </div>
    <input type="text" #sent (keyup)="0" class="form-control" placeholder="Enter a sentence here" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div>{{sent.value|sentenceCasePipe}}</div>
    <div>
      <input type="text" #name (keyup)="0" class="form-control" placeholder="Enter a name here" aria-label="Username" aria-describedby="basic-addon1">
    </div> 
    <br>
<app-jumbotron  *ngFor="let course of courses| search:name.value" title="{{course.name}}" summary="{{course.salary}} " id="{{course.id}}">
</app-jumbotron>
  </div></div>  
 
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">salary</th>
    </tr>
  </thead>
  <tbody>

<app-emptable  *ngFor="let course of courses |search:name.value" name="{{course.name}}" salary="{{course.salary}}" id="{{course.id}}">
</app-emptable>
 </tbody>
</table>
<h2>Displaying first 3 employees</h2>
<app-first3-employees *ngFor="let first of first3" title="{{first.name}}" summary="{{first.salary}} "></app-first3-employees>
-->

<app-country></app-country>